.main-contact-container{
    background: linear-gradient(to left, rgba(78, 169, 222, 0.2), rgba(253, 193, 19, 0.2));
    height: max-content;
    padding-top: 50px;
}
.main-contact-img-text{
    
    width: 60%;
    margin:0 auto;
    text-align: center;
    position: relative;
}
.main-contact-text-container img{
    width: 60%;
}

.main-contact-text-container h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 7px;
}
.main-contact-text-container p{
    font-size: 16px;
    font-weight: 400;
}

.main-contact-address-detail{
    width: 90%;
    margin: 20px auto;
}
.main-contact-address-detail>span>svg{
    font-size: 28px;
    color: #4D71B7;
    
}
.main-contact-address-detail>span{
    font-size: 20px;
    color: #4D71B7;
    padding: 20px;
    display: flex;
    gap: 15px;
    align-items: center;
   
    flex-direction: column;
}
.main-contact-address-detail{
    position: relative;
    display: flex;
    gap: 2vw;
    justify-content: center;
}
.main-contact-address-detail>span a{
    font-size: 16px ;
    color: #000;
}
.main-contact-address-detail>span p{
    font-size: 20px;
    font-weight: 600;
}


@media screen and (max-width:768px) {
    .main-contact-address-detail{
        flex-direction: column;
        align-items: center;
    }
    .main-contact-add{
        
        width: 60%;
    }
    .main-contact-img-text{
        width: 90%;
    }
    .main-contact-container{
        width: 100%;
    }
    .main-contact-text-container h2{
        font-size: 28px;
       
    }
    .main-contact-add p{
        font-size: 10px;
    }
    .main-contact-text-container p{
        font-size: 15px;
       
    }
   
    .main-contact-text-container img{
        width: 70%;
    }
   
}