.subject-book-container{
    width: 80%;
    margin: 4vw auto;
}
.subject-book-box{
    width: 195px;
    border-radius: 15px;
    height: 166px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    background-size: cover;
    position: relative;
}
.subject-book-box img{
    width: 100%;
}
.subject-book-container h2{
    font-size: 32px;
    font-weight: 700;
   margin-bottom: 3vw;
}
.subject-book-box a{
    position: absolute;
    font-size: 1.1vw;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
}
.subject-book-boxes{
    display: flex;
    justify-content:start;
   gap: 10px;
    flex-wrap: wrap;
}

@media screen and (max-width:768px) {
   .subject-book-container h2{
    font-size: 28px;
   }
   .subject-book-box{
    height: max-content;
    width: 22%;
   }
   .subject-book-box a{
    font-size: 10px;
   }
}
@media screen and (max-width:500px) {
    .subject-book-box{
  width: 48%;
    }
}