.ebook-carousal-text{
  
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
width: 60%;
}
.ebook-carousal-text h2{
  font-size: 2.4vw;
  color: var(--yellow);
}
.ebook-carousal-text p{
  font-size: 1.1vw;
  color: #fff;
}
.ebook-carousal-text a{
  font-size: 1.2vw;
  font-weight: var(--weight-600);
  color: #fff;
  background-color: var(--yellow);
  padding: 5px 10px;
  border-radius: 7px;
}
.ebook-carousal-contianer-child{
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: var(--blue);
  border-radius: 15px;
}
.ebook-carousal-img img{
  width: 100%;
}
.ebook-carousal-img{
  width: 30%;
} 
@media screen and (max-width:600px) {
  .ebook-carousal-contianer-child{
    display: flex !important;
    flex-direction: column !important;
    gap: 0;
  }
  .ebook-carousal-text{
    width: 80%;
    margin-top: 20px;
    gap: 10px;
  }
  .ebook-carousal-img{
    width: 50%;
  }
  .ebook-carousal-text h2{
    font-size: 15px;
  }
  .ebook-carousal-text p,.ebook-carousal-text a{
    font-size: 7px;
  }
}