
.edu-btns-container a,.join-btn{
    background-color: rgba(58, 90, 255, 1);
    color: #fff;
    width: fit-content;
    padding: 0.5vw 2vw;
    font-weight: 800;
    font-size: 1.4vw;
    border-radius: 15px;
    transition: 0.8s ease;
    }
    .edu-btns-container a:hover{
        background-color:#FDC113;
        transition: 0.5s ease;
        border-bottom: 4px solid  rgba(0, 0, 0, 0.6);
    }
    .edu-btns-container>span  img{
        width: 3.4vw;
        height: 3.4vw;
       
    }
    .edu-btns-container>span{
        font-size: 1.6vw;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        width: max-content;
        gap: 0.5vw;
    }
    .edu-btns-container{
        display: flex;
        flex-wrap: nowrap;
       gap: 1vw;
    }
   