
.edu-btns-container a,.join-btn{
    background-color: rgba(58, 90, 255, 1);
    color: #fff;
    padding: 10px 25px;
    font-weight: 800;
    font-size: 24px;
    border-radius: 10px;
    transition: 0.8s ease;
    }
    .edu-btns-container a:hover{
        background-color:#FDC113;
        transition: 0.5s ease;
        border-bottom: 4px solid  rgba(0, 0, 0, 0.6);
    }
    .edu-btns-container>span  img{
        width:53px;
        height: 53px;
       
    }
    .edu-btns-container>span{
        font-size: 20px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        width: max-content;
        gap: 7px;
    }
    .edu-btns-container{
        display: flex;
        flex-wrap: wrap;
       gap: 10px;
    }
   @media screen  and (max-width:520px){
    .edu-btns-container{
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
   }