.card-container{
    width:100%;
    position: relative;
    display: grid;
}
.card-container h2{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 5vw;
}
.credit-card{
    
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}
.expiry-date>span{
    display: flex;
    flex-wrap: nowrap;
}
.cred-img{
  width: 100px;
}
.credit-card p{
    font-size: 18px;
    font-weight: 500;
}
.card-number input{ 
    width: 90%;
    padding: 5px;
    border-radius: 5px;
    border:  2px solid #000;
}
.expiry-date>span input,.cvv>span input{
    width: 7vw;
    min-width: 70px;
    padding: 5px;
    border-radius: 5px;
    border:  2px solid #000;
}
.card-bottom{
    display: flex;
    gap: 4vw;
    padding-bottom: 10px;
}
.gpay-img{
    width: 50px;
}
.google-pay{
    position: relative;
    padding-top: 10px;
}
.google-pay::before{
    height:2px;
    width: 100%;
    content: "";
    background-color: lightgray;
    position: absolute;
    top: 0;
}
.google-pay li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.payment-prod-buy-btn{
   
    background-color: #4EA9DE;
   margin: 5vw auto;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
     padding: 5px 20px;
    border-radius: 7px;
  width: max-content;   
}
