*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.features-main-contianer{
    text-align: center;
    margin-top: 10vh;
}
.feature-box{
    width: 70%;
    height:28vw;
    background-color: rgba(77, 113, 183, 1);
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 1.5vw;
    margin: 4vw auto;
    padding-left: 1.5vw;
    gap: 2.27vw;
}
.features-boxes{
    margin-top: 10vh;
}


 .feature-box-img{
    width: 50%;
   
}
.feature-box-img img{
    width: 100%;
    border-radius: 1.5vw;
   
}
 .feature-box-text h2{
 font-size: 2vw;
 margin-bottom: 20px;
 font-weight: 700;
}
.feature-box-text{
    width: 40%;
 text-align: left;
 color: #fff;
}
.feature-box-text p{
    font-size: 1.5vw;
 font-weight: 400;

}
.feature-box:nth-child(even){
    background-color: rgba(85, 106, 142, 1);
}
@media screen and (max-width:768px) {
    .feature-box{
       flex-direction: column;
       width: 90%;
       height: max-content;
       padding-top: 20px;
       padding-bottom: 20px;
    }
    .feature-box-text{
        width: 90%;
    }
    .feature-box-img{
        width: 90%;
    }
    .feature-box-text h2{
        margin-bottom: 2px;
    }
}
