*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.features-main-contianer{
    text-align: center;
    margin-top: 10vh;
}
.key-feature-heading{
    font-size: var(--sub-title);
    color: var(--yellow);
}
.feature-box{
    width: 60%;
    height:max-content;
    background-color: rgba(77, 113, 183, 1);
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    border-radius: 1.5vw;
    gap: 2.27vw;
}
.features-boxes{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

 .feature-box-img{
    width: 40%;
padding: 1.6vw;
}
.feature-box-img img{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 1.5vw;
   
}
 .feature-box-text h2{
 font-size: 1.5vw;
 margin-bottom: 1.9vw;
 font-weight: 700;
}
.feature-box-text{
    width: 40%;
 text-align: left;
 color: #fff;
}
.feature-box-text p{
    font-size: 1vw;
 font-weight: var(--weight-400);

}
.feature-box:nth-child(even){
    background-color: rgba(85, 106, 142, 1);
    flex-direction: row-reverse;
  justify-content: end;
   
   
}
@media screen and (max-width:768px) {
    .feature-box{
       flex-direction: column;
       width: 90%;
       height: max-content;
       padding-top: 20px;
       padding-bottom: 20px;
    }
    .feature-box-img img{
        height: 200px;
    }
    .feature-box-text{
        width: 90%;
    }
    .feature-box-img{
        width: 90%;
    }
    .feature-box-text h2{
        margin-bottom: 2px;
    }
    .feature-box:nth-child(even){
        flex-direction: column;
    }
}
