#mount {
    margin: 100px;  
  }
  
  .dropdown {
    position: relative;
    background-color: #fafafa;
    border: 1px solid #eee;
    border-radius: 1px;
    max-width: 300px;
    z-index: 9999;
  }
  
  .dropdown__arrow {
    position: absolute;    
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #eee;
    border-radius: 3px;
  }
  
  .dropdown__list {
    transition: max-height .6s ease-out;
    max-height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  
  .dropdown__list--active {
    max-height: 1000px;
    opacity: 1;
  }
  
  .dropdown__list-item {
    border-bottom: 1px solid #eee;
    cursor: pointer;
    list-style: none;    
    padding: 15px;
  }
  
  .dropdown__list-item--active {
    background: #f4f4f4;
  }
  
  .dropdown__list-item:hover {
    background: #f4f4f4;
  }
  
  .dropdown__toggle:hover {
   background-color: #4EA9DE;
  }
  
  
.head-drop{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    background-color: #4EA9DE;
    align-items: center;
    color: #fff;
    font-weight: 700;
    border-radius:7px ;
   
}  
.exmpler-drop-container{
    display: flex;
    justify-content: center;
   align-items: start;
    gap: 2vw;
    margin: 3vw auto;
    position: relative;
}
.dropdown__list--active,.dropdown__list{
  position: absolute;
  background-color: #fff;
  width: 100%;
}
.exampler-container{
  padding-top: 50px;
}

@media screen and (max-width:768px) {
  .exmpler-drop-container{
    flex-direction: column;
    align-items: center;
  }
  .dropdown__list--active,.dropdown__list{
    position: relative;
  }
}