.video-main-container h2{
font-size: 36px;
font-weight: 700;
text-align: center;
margin-top: 15vh;
margin-bottom: 10vh;
}
.animate{
    height: 251px;
    width: 251px;
}
.video-img{
    width: 617px;
    height: 347px;
}
.animation-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}