.library-recomended-section{
    width: 80%;
    margin: 0 auto;
}
.library-subject-wise{
    width: 90%;
    margin: 0 auto;
}
.library-main-container{
    position: relative;
}
.library-carousal-section{
    position: relative;
}
.library-recomended-section{
    position: relative;
    margin-bottom: 50px;
}
.related-head{
    margin-bottom: 30px;
    font-size: var(--sub-title);
}
@media screen and (max-width:768px) {
    .library-recomended-section{
        width: 90%;
    }
    .library-subject-wise{
        width: 100%;
    }
}