.publish-btm-heading{
    font-size: var(--main-title);
    color: #000;
    text-align: center;
    margin-bottom: 50px;
}
.publish-btm-heading>span{
    color: var(--yellow);
}

@media screen and (max-width:768px) {
    .publish-btm-heading{
        font-size: var(--main-title-small);
        width: 90%;
        margin: 20px auto;
    }
}