.publish-btm-heading{
    font-size: 40px;
    color: #000;
    text-align: center;
    margin-bottom: 50px;
}
.publish-btm-heading>span{
    color: #FDC113;
}

@media screen and (max-width:768px) {
    .publish-btm-heading{
        font-size: 28px;
        width: 90%;
        margin: 20px auto;
    }
}