
.material-box-content h3{
    font-size: var(--sub-desc);
    font-weight: var(--weight-700);
    margin: 25px auto 0;
    display: block;
   
}

.material-box-content p{
    font-size: 12px;
    font-weight: var(--weight-400);
}
.material-box>span{
    width: 80px;
    height: 80px;
    display: flex;
    margin: auto;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-top: -48px;
}
.material-box>span img{
   width: 100%;
}
.material-box{
    padding: 20px 10px;
    background: white;
    border-radius: 20px;
    text-align: center;
    width: 30%;
    /* height: 400px; */
    height: max-content;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.material-box-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  gap: 8px;
}
.material-box-content a{
    width: 70%;
    margin: 0 auto;
    font-size: 12px;
height: 30px;
background-color: var(--yellow);
color: #fff;
border-radius: 12px;
display: flex;
justify-content: center;
align-items: center;
}
.material-box-content img{
    width: 125px;
    height: 145px;
}
.material-boxes{
    display: flex;
   
    flex-wrap: wrap;
    justify-content: center;
  gap: 47px;
  width: 45vw;
}

  .box:nth-child(even) {
    transform: translateY(70px); 
  }
  .material-side-text{
    color: #000;
    font-size: 1.6vw;
    font-weight:var(--weight-700);
    position: relative;
    transition: all 0.5s ease;
    
  }
  .material-side-text:hover{
    color: var(--yellow) !important;
  }
.material-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

  @media screen and (max-width:1024px) {
    .material-boxes{
      width: 80%;
     
    }
    .material-box{
      width:40% ;
    }
  }

  @media screen and (max-width:768px){
  .material-boxes{
   width: 90%;
  }
  .material-box{
    width:40% ;
  }
  .material-container{
    flex-direction: column;
    margin-top: 5vh;
    gap: 100px;
  }
  .box:nth-child(even) {
    transform: translateY(0); 
  }
  }
  @media screen and (max-width:570px){
    .material-boxes{
      flex-direction: column;
      align-items: center;
     }
     .material-box{
      width:80% ;
    }
  }
 