.vision-main-container{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 120px;
}
.vision-text-content{
    width: 40vw;
}
.vision-text-content h1{
    font-size: 50px;
    font-weight: 700;
   
}
.vision-img p{
    font-size: 26px;
    font-weight: 700;
    color: rgba(253, 193, 19, 1);
}
.vision-text-content p{
    font-size: 18px;
    font-weight: 500;
}
.vision-img{
    width: 500px;
}
.vision-img img{
    width: 100%;
}