.vision-main-container{
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 85%;
    margin: 120px auto 0;
}
.vision-text-content{
    width: 55%;
}
.vision-text-content h1{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
   
}
.vision-img p{
    font-size: 26px;
    font-weight: 700;
    color: rgba(253, 193, 19, 1);
}
.vision-text-content p{
    font-size: 18px;
    font-weight: 500;
}
.vision-img{
    width: 45%;
}
.vision-img img{
    width: 100%;
}
.par-1{
    margin-bottom: 20px;
}
@media screen and (max-width:768px) {
    .vision-main-container{
        flex-wrap: wrap;
        width: 90%;
    }
    .vision-text-content h1{
        font-size: 28px;
    }
    .vision-text-content p{
        font-size: 15px;
    }
    .vision-img{
        width: 100%;
    }
    .vision-text-content{
        width: 100%;
    }
}