.paper-header h2{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}
.paper-header>span img{
    width: 100%;
    
}
.paper-middle h3{
font-size: 38px;
font-weight: 700;
position: relative;
z-index: -1;
}
.paper-middle p{
    font-size: 24px;
    font-weight: 400;
}
.middle-bottom{
    width: 90%;
    background-color: #A4E5FF;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 15px;
    align-items: center;
}
.paper-middle{
    width: 90%;
    margin: 0 auto;
}
.paper-header{
    width: 90%;
    margin: 0 auto;
}
.middle-bottom>span img{
    width: 100%;
}
.middle-bottom-text{
    width: 45%;
   
    display: grid;
    grid-row-gap: 2vw;
}
.middle-bottom-text p{
    background-color: #FFF;
    padding: 7px;
    border-radius: 5px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
   
}
.sample-paper-section{
    font-size: 38px;
    font-weight: 700;
    width: 90%;
    margin: 0 auto;
}
.sample-paper-boxes{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.sample-container{
    width: 275px;
    margin-bottom: 5vw;
}
.sample-container>span img{
    width: 275px;
    margin-bottom: 10px;
}
.sample-container a{
    color: #fff;
    background-color: #4EA9DE;
    padding: 10px 18px;
    border-radius: 7px;
   display: flex;
   margin: 0 auto;
   flex-wrap: nowrap;
   justify-content: center;
    font-size: 20px;
    font-weight: 700;
   width: 100%;
}
.paper-header,.paper-middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
    text-align: justify;
}
.sample-paper-section h2{
    font-size: 38px;
font-weight: 700;
 margin-top: 5vw;
 margin-bottom: 5vw;
}
.paper-container{
  margin-bottom: 5vw;
  margin-top: 5vw;
}

@media screen and (max-width:768px) {
    .middle-bottom{
        flex-direction: column;
        gap: 3vw;
    }
    .middle-bottom-text{
        width: 100%;
       
    }
}