.testimonial-container{
    height: max-content;
    background-color: rgba(78, 169, 222, 1);
    padding-top: 20px;
    padding-bottom: 20px;
}
.testimonial-heading h2{
    font-size: 32px;
    font-weight: 700;
   color: #fff;
}
.testimonial-heading{
    text-align: center;
    display: grid;
    justify-content: center;
   margin-bottom: 20px;
}
.testimonial-content-child img{
    width: 180px;
    float: right;
}
.testimonial-heading p{
    height: 5px;
    width: 100px;
    margin: 13px auto 0;
    background-color: #fff;
}
.testimonial-content-child{
    position: relative;

}
.testimonial-content-child>span p::after{
    content: "";
    height: 20px;
    width: 20px;
    background-color: #fff;
    position: relative;
    transform: rotate(45deg);
    bottom: -1.6vw;
    right: 1vw;
    z-index: 0;
}
.testimonial-content-child>span p{
    position: relative;
   z-index: 1;
    left: -40px;
    top: 10px;
    border-radius: 15px;
    padding: 10px;
    font-size: 1.5vw;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.testimonial-text h3{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 40px;
}
.testimonial-text p{
    font-size: 16px;
    font-weight: 400;
}
.testimonial-content{
    display: flex;
    gap: 30px;
    justify-content: right;
    align-items: center;
}
.testimonial-text{
    border-left: 2px solid #fff;
    height: 280px;
    width: 50%;
    color: #fff;
    padding: 50px;
}

@media screen and (max-width:768px) {
    .testimonial-content{
        flex-direction: column;
    }
  
    .testimonial-text{
        border-top: 2px solid #fff;
        border-left: 0;
        padding-top: 20px;
        width: 80%;
        height: max-content;
        padding-left: 2px;
        padding-right: 2px;
    }
    .testimonial-heading h2{
        font-size: 20px;
    }
    .testimonial-text p{
        font-size: 14px;
    }
    .testimonial-content-child>span p{
        left: -70px;
        font-size: 15px;
    }
    .testimonial-content-child>span p::after{
        bottom: -15px;
    }
}