.notes-main-container {
  background: url('./notesBack.png');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: left;
  width: 100%;
  height: max-content;
  position: relative;
  
  /* z-index: -1; */
}

.book-back {
  position: relative;
  text-align: center;
  right: 0;
  top: 0;
}

.book-back img {
  height: 200px;
}

.notes-head {
  font-size: var(--sub-title);
  font-weight: var(--weight-600);
}

.dot-img {
  position: absolute;
  left: 6vw;
  top: 13vw;
  width: 350px;
  z-index: 1;
}

@media screen and (max-width:1024px) {
  .dot-img {
    top:20vw;
  }
}
@media screen and (max-width:768px) {
  .dot-img {
    display: none;
  }
  .book-back{
   
    left: 0;
    right: 0;
    margin: auto;
   
  }
  .notes-head{
    font-size: 28px;
  }
 
 
}