.popular-book-container{
    width: 90%;
    margin: 4vw auto;
}
.popular-book-box{
    width: 192px;
    border-radius: 15px;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    background-size: cover;
    position: relative;
    margin-bottom: 2vw;
}
.popular-book-box img{
    width: 100%;
}
.popular-book-container h2{
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 3vw;
}
.popular-book-box p{
    position: absolute;
    top: 50%;
    
    
}
.popular-book-boxes{
    display: flex;
    justify-content: space-between;
   gap: 2vw;
    flex-wrap: wrap;
}
@media screen and (max-width:400px) {
    .popular-book-box{
  width: 100%;
    }
}