
.main-container {
    display: flex;
    justify-content: space-between;
    padding: 3px 10px;
    width: 90%;
    margin: 0 auto;
    
}

.nav-logo {
    width: 6vw;
margin-left: 5%;
}
.nav-logo img{
    width: 100%;
}
.navbar-side-menu {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar-btns {
    display: flex;
    gap: 15px;
    align-items: center;
    height: 35px;
   
}

.nav-signup-btn {
    background-color: #1368CE;   
    color: #fff;
    border-bottom: 4px solid  rgba(0, 0, 0, 0.6);
}
.nav-login-btn,.nav-signup-btn{
    width: 110px;
    height: 44px;
    border-radius: 15px;
    transition: 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-login-btn {
    color: #979797;
    
    border: 1px solid #979797;
    transition: 0.5s ease;
}
.nav-signup-btn:hover{
    background-color:#FDC113;
    transition: 0.5s ease;
}
.nav-login-btn:hover{
    background-color:#FDC113;
    color: #fff;
    transition: 0.5s ease;
    border-bottom: 4px solid  rgba(0, 0, 0, 0.6);
}

.navbar-hamp-menu {
   font-size: 50px;
}
.navbar-options{
    position: absolute;
    left: 0;
    right: 0;
    top: 90px;
    margin: auto;
    z-index: 99999;
    width: 90%;
    display: flex;
    justify-content: center;
    background-color: #fefefe;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.navbar-options .navIcons{
    width: 13vw;
   text-align: center;
    color: #000;
  padding: 10px 10px;
    transition: 0.5s ease;
    font-weight: 700;
    font-size: 1.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}
.navbar .navIcons:hover{
   
    color: #FDC113;
}
.active{
color:#FDC113 !important;
   
}

.active .ar-btn{
    transform: rotate(0deg);
    transition: all 0.5s ease;
}
.education-nav:hover .ar-btn{
    transform: rotate(90deg);
}

.respons-btn{
    display: none;
}
.education-nav{
position: relative;
}
.education-drop{
    display: none;
   
}
.education-nav:hover .education-drop{
    display: block;
    position: absolute;
    z-index: 999;
    top: 50px;
    background-color: #f4f4f4;
    box-shadow: 5px 5px 5px 0px rgba(187, 181, 181, 0.2);
   border-radius:10px;
    width: 100%;
}
.education-drop li{
    color: #fff;
    padding: 10px;
}
.education-drop li:hover .education-drop-nacIcons{
    color:#FDC113 ;
    /* text-shadow: 2px 2px 2px #FDC113; */
}
.education-drop-nacIcons{
    color: #000;
    font-size: 18px;
    font-weight: 600;
}
.education-navicons-drop{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.login-section-show,.signup-section-show{
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin:0 auto;
    width: 90%;
    z-index: 9999;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
    
}




@media screen and (max-width:768px){
    .navbar-options{
        flex-direction: column;
        justify-content: left;
        padding: 20px;
        width: 80%;
        gap: 0;
        left: 54px;
        perspective: 350px;
      
    }
    .hide-btn{
        display: none;
    }
    .respons-btn{
        display: block;
    }
    .nav-logo{
        margin-left: 0;
        width: 50px;
    }
    .navbar-options .navIcons{
       text-align: left;
        padding: 5px;
       font-size: 16px;
        /* transform: translateX(50vw);
        transform-origin: top right; */
      
        animation: anim 2s ease forwards;
        width: 200px;
        justify-content: start;
    }
@keyframes anim {
    0%{
        opacity:0;
    }
    100%{
        opacity: 1;
    }

    
}

    /* .navbar-options :nth-child(2){
        animation-delay: 300ms;
    }
    .navbar-options .navIcons:nth-child(3){
        animation-delay: 500ms;
    }
    .navbar-options .navIcons:nth-child(4){
        animation-delay: 700ms;
    }
    .navbar-options .navIcons:nth-child(5){
        animation-delay: 900ms;
    }
    .navbar-options .navIcons:nth-child(6){
        animation-delay: 1100ms;
    }
    .navbar-options .navIcons:nth-child(7){
        animation-delay: 1300ms;
    }
    .navbar-options .navIcons:nth-child(8){
        animation-delay: 1500ms;
    }
    .navbar-options .navIcons:nth-child(9){
        animation-delay: 1700ms;
        margin-top: 10px;
    }
    @keyframes animate {
        to{
            transform: translateX(0);
            opacity: 1;
        }
    } */
}











 
