.blog-container{
    width: 100%;
    position: relative;
    padding-top: 50px;
}

.blog-header{
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: left;
    margin: 0 auto;
    gap: 3vw;
}
.blog-header-text p{
    font-size: var(--main-desc);
    font-weight: 500;
    color: gray;
}
.blog-header h2{
font-size: var(--main-title);
font-weight: 700;
}
.blog-social-icon{
    display: flex;
    gap: 20px;
}
.blog-social-icon>svg{
    font-size: 25px;
}
.blog-text-content{
    width: 80%;
    margin: 0 auto;
}
.blog-head-img img{
    width:100% ;
}
.blog-head-img p{
    font-weight: bold;
    font-size: var(--main-desc);
}
.blog-text-box{
    display: grid;
    grid-row-gap: 2vw;
}
.blog-text-box h1{
    margin-top: 2vw;
    font-size: var(--sub-title);
    font-weight: 700;
}
.blog-text-box p{
    font-size:var(--sub-desc) ;
    font-weight: 400;
}
.blog-bottom-social{
    display: grid;
    grid-row-gap: 2vw;
    width: 80%;
    margin: 0 auto;
}
.blog-bottom-social h2{
    font-size: 24px;
    font-weight: 700;
    color: #FDC113;
}
@media screen and (max-width:768px){
    .blog-container{
        margin-top: 5vw;
    }
    .blog-header{
        width: 90%;
    }
    .blog-text-content{
        width: 90%;
    }
    .blog-header h2{
        font-size: var(--main-title-small);
    }
    .blog-header-text p{
        font-size: 15px;
    }
    .blog-social-icon>svg{
        font-size: 15px;
    }
    .blog-head-img p{
        font-size: 7px;
    }
    .blog-text-box p{
        font-size: 15px;
    }
    .blog-bottom-social h2{
        font-size: 18px;
    }
}
