.ebook-container{
    background: url(./bac.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: max-content;
    position: relative;
    margin-bottom: 15vh;
    margin-top: 10vh;
}
.ebook-text-content{
    width: 45vw;
    text-align: center;
    position: relative;
    left: 10vw;
}
.ebook-text-content img{
 height: 190px;
 width: 190px;
}
.ebook-text-content  h3{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}
.ebook-text-content p{
    font-size: 20px;
    font-weight: 400;
   
}
.dot-img-ebook img{
    position: absolute;
    right: 120px;
    width: 350px;
    top: 300px;
}
@media screen and (max-width:1024px){

.ebook-text-content{
    width: 80%;
}
}
@media screen and (max-width:768px){
  .dot-img-ebook{
    display: none;
  }
  
  .ebook-text-content{
    width: 93%;
    left: 0;
    right: 0;
    margin: auto;
  }
  .ebook-text-content h3{
    font-size: 28px;
  }
  .ebook-text-content p{
    font-size: 15px;
  }
}