
.coaching-header h2{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    width: 70%;
}
.coaching-header h2>span,.coaching-bottom h2>span{
    color: #FDC113;
    margin-bottom: 5vw;
}
.coaching-header-container{
    background: url(../SchoolPage/SchoolHeader/GroupImg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.coaching-header{
   
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vw;
    margin: 5vw auto;
}
.coaching-header>span img{
    width: 60%;
    margin: 0 auto;
}
.coaching-header>span{
    display: flex;
    justify-content: center;
}
.coaching-middle-section{
    width: 80%;
    margin: 0 auto;
}
.coaching-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1vw;
   
}
.coaching-middle-section h2 ,.coaching-bottom h2{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}
.coaching-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    text-align: center;
    gap: 2vw;
    margin: 4vw auto;
}
.coaching-bottom>span img{
    width: 60%;
}
.coaching-bottom p{
    font-size: 15px;
    font-weight: 500;
}
.coaching-btn{
    color: #fff;
    background-color: #4EA9DE;
    padding: 4px 18px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 600;
    border-radius: 7px;
}
@media screen and (max-width:768px) {
    .coaching-bottom>span img{
        width: 60%;
    }
    .coaching-middle-section{
        width: 90%;
       
    }
    .coaching-header{
        width: 90%;
    }
    .coaching-header h2,.coaching-middle-section h2 ,.coaching-bottom h2{
        font-size: 24px;
    }
    .coaching-bottom{
        width: 80%;
    }
    .coaching-header h2{
        width: 80%;
    }
    .coaching-bottom p{
        font-size: 10px;
    }
    .coaching-boxes{
        gap: 10px;
    }
    .coaching-btn{
        font-size: 10px;
        padding: 4px 16px;
    }
}
