
.records-box-content h3{
    font-size: 20px;
    font-weight: 700;
    margin: 25px 0 20px 15px;
    display: block;
   
}
.records-box-content p{
    font-size: 20px;
    font-weight: 400;
}
.record-img-upper{
    width: 100px;
    height: 100px;
    background: rgba(78, 169, 222, 1);
    display: flex;
    margin: auto;
    border-radius: 100px;
    box-shadow: 2px 2px 4px #ddd;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-top: -80px;
}
.record-img-upper img{
    width: 55%;
    max-width: 100%;
}
.records-box{
    padding: 30px;
    background: white;
    border-radius: 20px;
    text-align: center;
    margin-top: 50px;
    margin-right: 20px;
    width: 44%; 
    height: 260px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.records-boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  position: absolute;
 width:60vw;
 top: 560px;
 left: 20vw;
  z-index: 99;
}
.child-box:nth-child(even) {
    transform: translateY(40px); /* Adjust the vertical translation as needed */
  }

  @media screen and (max-width:1024px) {
    .records-boxes{
        width: 80%;
        bottom: 20.4 vw;
    }
  }
  @media screen and (max-width:768px) {
    .records-boxes{
        width: 90%;
        bottom: 20.4 vw;
        left: 0;
        right: 0;
        margin: auto;
    }
    .records-box{
        width: 100%;
        margin-right: 0;
    }
    .child-box:nth-child(even) {
        transform: translateY(0); /* Adjust the vertical translation as needed */
      }

  }