.journey-container{
    padding-bottom: 5vw;
}
.journey-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vw;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
.journey-child h1{
    font-weight: 700;
    color: #FDC113;
    font-size: 3.1vw;
}
.journey-child p{
font-size: 2vw;
font-weight: 500;
}
.journey-child img{
    width: 90%;
}
.journey-child a{
    width: 23.9vw;
    height: 6vw;
    font-size: 2vw;
    font-weight: 700;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.9vw;
    background-color: #4EA9DE;
}