.journey-container{
    padding-bottom:20px;
}
.journey-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
    width: 40%;
    margin: 0 auto;
}
.journey-child h1{
    font-weight: 700;
    color: var(--yellow);
    font-size: 2.1vw;
}
.journey-child p{
font-size: 0.9vw;
font-weight: 500;
}
.journey-child img{
    width: 100%;
}
.journey-child a{
    padding: 4px 25px;
    font-size: 1.2vw;
    font-weight: 500;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    background-color: #4EA9DE;
}
@media screen and (max-width:768px) {
    .journey-child{
        width: 70%;
    }
    .journey-child h1{
        font-size: var(--main-title-small);
    }
    .journey-child p{
        font-size: var(--main-desc-small);
    }
    .journey-child a{
        font-size: 10px;
    }
}