.ncert-main-drop{
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 4vw auto;
    gap: 2vw;
}
.ncert-main{
    padding-top: 60px;
}
.ncert-main-background-container{
    background: url(../ForEducation/SchoolPage/SchoolHeader/GroupImg.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}

@media screen and (max-width:768px) {
    .ncert-main-drop{
        flex-direction: column;
        align-items: center;
    }
}